*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../img/background\ tecnologia\ 9.jpg);
    background-size: cover;
    justify-content: center;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: gray;
    background-image: url(../img/background\ tecnologia\ 8.jpg);
    padding: 10px;
    box-shadow: 0px 5px 20px #000;
    align-items: center;
    background-size: cover;
}
h1{
    justify-content: center;
    display: flex;
    color: white;
}
h2{
    justify-content: center;
    display: flex;
    margin-left: 20px;
    color: white;
}
.menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.menu li a{
    color: rgb(255, 255, 255);
    display: flex;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    padding: 10px 20px 10px 20px;
    justify-content: center;
}
.menu li a:hover{
    color: white;
    display: block;
    text-decoration: none;
    background-color: red;
}
.cardapio{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}